<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget Central" value="https://api.nuget.org/v3/index.json" />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/" />
    <add key="YoloDev" value="https://www.myget.org/F/yolodev/api/v3/index.json" />
  </packageSources>
</configuration>
