<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="YoloDev" value="https://www.myget.org/F/yolodev/api/v3/index.json" />
    <add key="Roslyn" value="https://www.myget.org/F/roslyn-nightly/api/v3/index.json" />
    <add key="Asp.NET vNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />
    <add key="Nuget Central" value="https://api.nuget.org/v3/index.json" />
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
  </packageSources>
</configuration>
